/*This is how you comment on CSS*/

/*All text is navy blue*/
body {
    color: navy;
    background-color: #7a7c77bb
}

/*Table is centered and the full width of the screen (with padding)*/
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color:navy
}

.first-column {
    background-color: navy;
    color: #7a7c77bb;
    position: relative;
    text-align: left;
    vertical-align: bottom;
    width: 80px;
}

.start-date {
    position: relative;
    min-height: 100px;
    padding-bottom: 20px;
    color: white;
    background: linear-gradient(to right, navy, #7a7c77bb);
}

.burn-item {
    position: relative;
    min-height: 100px;
    padding-bottom: 20px;
    color: #123456;
    background-color: #7a7c77bb;
}

.time-log {
    text-align: right;
    min-height: 100px;
    padding-bottom: 20px;
    color: white;
    background: linear-gradient(to left, navy, #7a7c77bb);   
}

.time-count {
    color: white;
}

.remove-row {
    background-color: navy;
    color: #7a7c77bb;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 80px;
}

.add-row-button {
    color: lime;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to top right, navy, #7a7c77bb);
}

.remove-row-button {
    color: lime;
    position: absolute;
    vertical-align: middle;
    right: 0px;
    background: linear-gradient(to right, #7a7c77bb, navy);
}

.log-time-button {
    float: left;
    color: orange;
    background: linear-gradient(to right, #7a7c77bb, navy);
    width: 100px;
}

/* ROWS */
.last-row {
    background-color: black;
}

.completed-row,
.completed-row .first-column .start-date .burn-item .time-log .remove-row {
    background-color: #4CAF50;
    color: black;
}